* {
    margin: 0px;
    padding: 0px;
}

#sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    left: -20%;
    background-color: white;

    padding-left: 1400px;
    padding-top: 100px;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar li {
    color: black;
    font-size: small;
    padding: 5px;

    text-align: center;
}

.toggle-btn {
    position: absolute;
    left: 55%;
    top: 15px;

}

.toggle-btn span {
    display: block;
    background-color: black;
    width: 10px;
    height: 2px;
    margin: 2px;
}

#sidebar.active {
    left: 0px;
}